html, body {
    margin: 10;
    padding: 10;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    width: 546px;
    height: 546px;
    background-color: #000;
    position: relative;
}

.grid div {
    width: 26px;
    height: 26px;
}

#gameStatus {
    position: absolute;
    /* top: 50%; */
    top: calc(50% - 44px);
    width: 546px;
    text-align: center;
    padding: 10px 0;
    background-color: tomato;
    color: #000;
    display: none;
}

.pac-dot {
    background-color: #fff;
    border: 8px solid #000;
    border-radius: 13.5px;
    box-sizing: border-box;
}

.wall {
    background-color: #345da9;
}

.ghost-lair {
    background: transparent;
}

.power-pellet {
    background-color: green;
    border-radius: 13.5px;
    border-color: #000;
}

.empty {
    background-color: #000;
}

.pacman {
    background: url(./images/pac-man.png) no-repeat 0 0;
    transform: rotate(-90deg);
    border: none;
}
.d-left {
    transform: rotate(-180deg);
}
.d-up {
    transform: rotate(-90deg);
}
.d-right {
    transform: rotate(0);
}
.d-down {
    transform: rotate(90deg)
}

.blinky {
    background: url(./images/blinky.png) no-repeat 0 0;
}

.pinky {
    background: url(./images/pinky.png) no-repeat 0 0;
}

.inky {
    background: url(./images/inky.png) no-repeat 0 0;
}

.clyde {
    background: url(./images/clyde.png) no-repeat 0 0;
}

.ghost {
    border-radius: 0;
    border: none;
}

.scared-ghost {
    background: url(./images/ghost-scared.png) no-repeat 0 0;
}
